# Carpetas de datos y logs (generados por los contenedores)
/data/*

# Excepciones dentro de data (configuraciones que SI deben subirse)
!/data/broker/
/data/broker/*
!/data/broker/rabbitmq.conf

!/data/proxy/


# Variables de entorno
.env
# Ignorar todos los archivos .env reales dentro de la carpeta envs/
envs/.env.airflow
envs/.env.broker
envs/.env.db
envs/.env.global
envs/.env.master
envs/.env.proxy
envs/.env.worker
# Permitir subir el archivo de plantilla/ejemplo
!envs/.env.example

# Archivos de python compilados
__pycache__/
*.pyc
