apache-airflow-providers-amazon 
apache-airflow-providers-celery 
apache-airflow-providers-postgres 
kaggle 
psycopg2-binary 
celery
pandas
ydata-profiling
openpyxl
matplotlib
seaborn
setuptools<70.0.0
xlrd
dbt-postgres